<ion-view view-title="Registro Medico">
  <ion-content>
    <div class="bar bar-header bar-calm">
      <h1 class="title">SEGURO MEDICO</h1>
    </div>
    <div class="list has-header">

          <label class="item item-input item-floating-label">
              <span class="input-label">N° De Ficha</span>
              <input type="number" ng-model="dataSearch.codigo" placeholder="N° DE FICHA">
          </label>

          <label class="item item-input item-floating-label">
              <span class="input-label">NOMBRE</span>
              <input type="text" placeholder="NOMBRE" ng-model="dataSearch.nombre" required>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">APELLLIDO</span>
            <input type="text" placeholder="PRIMER APELLIDO"ng-model="dataSearch.apellido" required>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">EDAD</span required>
            <input type="number" placeholder="EDAD" ng-model="dataSearch.edad" required>
          </label>

          <label class = "item item-input item-select">

              <div class = "input-label">
                  <input placeholder="SEXO" style="border:0px" type="number"></input>
              </div>
              
              <select ng-model="dataSearch.sexo">
                  <option value="H"><b>HOMBRE</b></option>
                  <option value="M"><b>MUJER</b></option>
              </select>

          </label>
          
          <ion-checkbox class="item-checkbox-right checkbox-assertive item" 
                  ng-model="dataSearch.casado">
                  CASADO
          </ion-checkbox>

          <label class="item item-input item-floating-label">
            <span class="input-label">N° de Hijos</span>
            <input type="number" placeholder="N° de Hijos" ng-model="dataSearch.hijos" required>
          </label>


           <label class="item item-toggle item-floating-label">
            CIS                
                  <label class="toggle">
                    <input type="checkbox" ng-model="dataSearch.cis">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                  </label>
          </label>
          
          <label class="item item-input item-floating-label">
            <span class="input-label">Fecha de Creacion</span>
            <input type="date"  ng-model="dataSearch.date">
          </label>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <div class="button-bar bar-assertive">
      <a class="button" ng-click="showPopup()">REGISTRAR</a>
      <a class="button" ng-click="doSearch()">MOSTRAR</a>
    </div>
  </div>

</ion-view>